# Configured for Landing 747-400 configuration save
# x0: Roll
# y1: Pitch
# z2: Yaw
# x3: View l/r
# y4: View u/d

# d-pad up: Flaps up a notch
# d-pad down: Flaps down a notch
# 2, Btn0: Throttle down a bit.
# 3, Btn1: Hold thrust reverse at max. <- reverse thrust for landing
# 4, Btn2: Speedbrakes toggle.
# 5, Btn3: Throttle up a bit.
# 7, Btn5: Hold brakes regular.
# 9, Btn7: Pause the simulation.
# 11, Btn9: Toggle breaks max effort.
# 12, Btn10: Landing gear toggle.

# 6, 8, 10 Em


# for the axis map for the triggers just do one trigger with: 
#
#  sum(512-(ABS_Z/2) + (ABS_RZ/2)).
#
# left trigger: type 3 (EV_ABS) code 2 (ABS_Z) value 0 to value 1023
# right trigger: type3 (EV_ABS) code 5 (ABS_RZ) value 0 to value 1023
#
# left bump: type 1 (EV_KEY), code 310 (BTN_TL), value 1 or 0
# right bump: type 1 (EV_KEY), code 311 (BTN_TR), value 1 or 0
#
# select: type 1 (EV_KEY), code 314 (BTN_SELECT), value 1 or 0
# start: type 1 (EV_KEY), code 315 (BTN_START), value 1 or 0
#
# dpad up: type 3 (EV_ABS), code 17 (ABS_HAT0Y), value -1 or 0
# dpad down: type 3 (EV_ABS), code 17 (ABS_HAT0Y), value 1 or 0
# dpad right: type 3 (EV_ABS), code 16 (ABS_HAT0X), value 1 or 0
# dpad left: type 3 (EV_ABS), code 16 (ABS_HAT0X), value -1 or 0
#
#
# Y: type 1 (EV_KEY), code 308 (BTN_WEST), value 1 or 0
# X: type 1 (EV_KEY), code 307 (BTN_NORTH), value 1 or 0
# A: type 1 (EV_KEY), code 304 (BTN_SOUTH), value 1 or 0
# B: type 1 (EV_KEY), code 305 (BTN_EAST), value 1
#
# left thumb: type 1 (EV_KEY), code 317 (BTN_THUMBL), value 1 or 0
# right thumb: type 1 (EV_KEY), code 318 (BTN_THUMBR), value 1 or 0
#
# xbox button: type 1 (EV_KEY), code 316 (BTN_MODE), value 1 or 0
# left_joystick left: type 3 (EV_ABS), code 0 (ABS_X), value -32768
# left_joystick right: type 3 (EV_ABS), code 0 (ABS_X), value 32767
# left_joystick up: type 3 (EV_ABS), code 1 (ABS_Y), value -32768
# left_joystick down: type 3 (EV_ABS), code 1 (ABS_Y), value 32767
#
# right_joystick left: type 3 (EV_ABS), code 3 (ABS_RX), value -32768
# right_joystick right: type 3 (EV_ABS), code 3 (ABS_RX), value 32767
# right_joystick up: type 3 (EV_ABS), code 4 (ABS_RY), value -32768
# right_joystick down: type 3 (EV_ABS), code 4 (ABS_RY), value 32767
#
# NOTE: It seems to be that to succesfully start the controller the sequence of events must happen the following way:
# 1. Start xboxdrv right away after starting. don't rmmod xpad and don't start steam before this stem
# 2. Start steam and run game
# 3. When running the simulation or trying to set the controls it might be good to wait for a little bit
#
# == Preliminary Mapping ==
#
# LB=BTN_TL,RB=BTN_TR,Back=BTN_SELECT,Start=BTN_START,ABS_HAT0Y=ABS_HAT0Y,ABS_HAT0X=ABS_HAT0X,X=BTN_NORTH,Y=BTN_WEST,A=BTN_SOUTH,B=BTN_EAST,TL=BTN_THUMBL,TR=BTN_THUMBR,Guide=BTN_MODE,ABS_X=ABS_X,ABS_Y,ABS_RX=ABS_RX,ABS_RY=ABS_RY
#
# use --trigger-as-zaxis
#
# == Crafting Command ==
#
# xboxdrv --evdev /dev/input/event12 --trigger-as-zaxis --evdev-absmap ABS_HAT0Y=ABS_HAT0Y,ABS_HAT0X=ABS_HAT0X,ABS_X=ABS_X,ABS_Y,ABS_RX=ABS_RX,ABS_RY=ABS_RY --evdev-keymap LB=BTN_TL,RB=BTN_TR,Back=BTN_SELECT,Start=BTN_START,X=BTN_NORTH,Y=BTN_WEST,A=BTN_SOUTH,B=BTN_EAST,TL=BTN_THUMBL,TR=BTN_THUMBR,Guide=BTN_MODE
[xboxdrv]
#evdev=/dev/input/event10
#by pci path
#evdev=/dev/input/by-path/pci-0000:00:14.0-usb-0:3:1.0-event-joystick
evdev=/dev/input/by-id/usb-Microsoft_Controller_3032363030303632303037363433-event-joystick
#for fucks sakes, just write the damn script to detect the input for the X-Box controller
silent=true
trigger-as-zaxis=true
#mimic-xpad=true

[evdev-absmap]
ABS_X=x1
ABS_Y=y1
ABS_RX=x2
ABS_RY=y2
#z=-ABS_Z:ABZ_RZ
ABS_Z=lt
ABS_RZ=rt

[evdev-keymap]
BTN_SOUTH=a
BTN_EAST=b
BTN_NORTH=x
BTN_WEST=y

[evdev-keymap]
BTN_THUMBL=tl
BTN_THUMBR=tr

[evdev-keymap]
BTN_TL=lb
BTN_TR=rb

[evdev-absmap]
ABS_HAT0X=dpad_x
ABS_HAT0Y=dpad_y

[evdev-keymap]
BTN_SELECT=back
BTN_START=start
BTN_MODE=guide
